.btn-calc {
    padding: 2em;
    margin: 0.2em;
    border-width: 3px;
    border-style: solid;
    border-radius: 10%;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    background-color: silver;
}

.btn-operador {
    background-color: rgba(204, 159, 255, 0.507);
}

.btn-total {
    background-color: rgba(204, 159, 255, 0.507);
}

.visor {
    padding: 2em;
    margin: 0.1em;
    font-size: 1.5em;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
}

#visor-calculadora {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 2em;
    flex-flow: row-reverse;
}

#calculadora {
    background-color: gray;
    width: 100%;
}

#valor-visor-calculadora {
    font-size: 3em;
    color: greenyellow;
    width: 100%;
}